.container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background: lightgrey;
}
*{
    text-decoration: none;
    color: black;
}
a{
    cursor: pointer;
}

h2{
    cursor: pointer;
}